header {
    background-color: white;
    color: #495464;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: fixed;
    z-index: 1100;
    height: 60px;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 50vw;
    justify-content: space-between;
}

.mainTitleContainer {
    display: flex;
    width: 100vw;
}

.mainTit {
    display: flex;
    align-items: center;
}

.mainTitle {
    display: flex;
    align-items: center;
    font-size: 36px;
}

.mainTitle img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
    color: #495464;
    padding: 0 0 0 30px;
}

.toLink {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}

.toLink:hover,
.toLink:focus,
.toLink:active {
    color: #495464;
    transition: all 0.3s allow-discrete;
}