.filterform {
  margin: 150px auto 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 859px;
  height: 74px;
}

.labelFind {
  display: flex;
}

.inputFind {
  align-items: center;
  display: flex;
}

.inputFind:hover,
.inputFind:focus {
  background-color: #e6eaed;
}

.inputFind ::placeholder {
  color: #6e6662;
  font-size: 20px;
  border: none;
}

.option {
  color: #6e6662;
  font-size: 20px;
}

.brands {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: rgba(18, 20, 23, 0.2);
}

.brands:hover,
.brands:hover {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
}
.filterList {
  display: flex;
  flex-direction: row;
  gap: 18px;
  list-style: none;
}
