.homeContainer {
  width: 1183px;
}
.homeList {
  font-weight: 400;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 29px;
  margin-inline-start: 0;
  padding-inline-start: 0;
  margin-top: 200px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 16px / 1.5 'Manrope', sans-serif;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #3470ff;
  border: none;
  background-color: transparent;
}
